{% extends 'base.html' %}
{% block content %}
    {% if user.is_authenticated %}
        <p>Hello {{ user.username }}</p>
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Logout">
        </form>
    {% else %}
        <a href="{% url 'login' %}">Log In</a>
    {% endif %}
    {% for post in object_list %}
        <div>
            <h2><a href="{% url 'blog_detail' post.pk %}">{{ post.title }}</a></h2>
            <p>{{ post.body }}</p>
        </div>
    {% endfor %}
{% endblock content %}